{% ckan_extends %}

{% block extras %}

{% if pkg_dict.ar_tile %}
    <tr>
        <th scope="row" class="dataset-label">{{ _("Titre (Ar)") }}</th>
        <td class="dataset-details">{{ pkg_dict.ar_title }}</td>
    </tr>
{% endif %}

{% endblock %}
