{% ckan_extends %}


{% block package_basic_fields_custom %}

    {{ form.input('title_ar',
        label=_('Titre (Ar)'),
        id='field-title_ar',
        placeholder=_('Titre en langue arabe...'),
        value=data.title_ar,
        error=errors.title_ar,
        classes=['control-full control-large rtl'], is_required=true) }}

    {{ form.markdown('notes_ar',
        label=_('Description (Ar)'),
        id='field-notes_ar',
        placeholder=_('Description en langue arabe...'),
        value=data.notes_ar,
        error=errors.notes_ar,
        classes=['control-full rtl'], is_required=true) }}

    <br />

    <div class="control-group control-full">
      {% set error = errors.national_theme %}
      <label class="control-label" for="field-national_theme">{{ _("Thème national") }}</label>
      <div class="controls">
        <select id="field-national_theme" name="national_theme" data-module="autocomplete" multiple>
          {% for element in h.national_themes()  %}
            <option value="{{ element.value }}" {% if h.ifInSet(data.get('national_theme', 'notspecified'), element.value) %}selected="selected"{% endif %}>{{ element.text }}</option>
          {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        <span class="info-block">
          <i class="icon-info-sign"></i>
          {% trans %}L'appartenance du jeu de données aux thèmes nationaux. Vous pouvez choisir un ou plusieurs thèmes{% endtrans %}
        </span>
      </div>
    </div>
    
    <br />
    <h3><i class="icon-bullhorn"></i>&nbsp;{{_("Couverture temporelle !")}}</h3>
    
    <div class="control-group control-full">
      {% set error = errors.temporal_frequency %}
      <label class="control-label" for="field-temporal_frequency">{{ _("Fréquence de mise à jour") }}</label>
      <div class="controls">
        <select id="field-temporal_frequency" name="temporal_frequency" data-module="autocomplete">
          {% for freq in h.frequencies()  %}
            <option value="{{ freq.value }}" {% if data.get('temporal_frequency', 'notspecified') == freq.value %}selected="selected"{% endif %}>{{ freq.text }}</option>
          {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        <span class="info-block">
          <i class="icon-info-sign"></i>
          {% trans %}La fréquence à laquelle un jeu de données est publié ou mis à jour !{% endtrans %}
        </span>
      </div>
    </div>

    <br />
    

    {{ form.input('temporal_startDate',
        label=_('Date de début'),
        id='field-temporal_startDate',
        placeholder=_('Date de début de la couverture temporelle des données : 2022/01/01'),
        value=data.temporal_startDate,
        error=errors.temporal_startDate,
        classes=['control-medium'], is_required=true) }}

    {{ form.input('temporal_endDate',
        label=_('Date de fin'),
        id='field-temporal_endDate',
        placeholder=_('Date de fin de la couverture temporelle des données : 2022/12/31'),
        value=data.temporal_endDate,
        error=errors.temporal_endDate,
        classes=['control-medium'], is_required=true) }}
    
    <div class="info-block info-line">
      <i class="icon-info-sign"></i>
      {% trans %}YYYY/MM/DD  exemple : 2022/12/31{% endtrans %}
    </div>    
    
    <hr>
    <br />
    <h3><i class="icon-bullhorn"></i>&nbsp;{{_("Couverture géographique !")}}</h3>

    {{ form.select('spatial_geoLevel', label=_('Niveau de détail géographique'), options=h.geoLevels(), selected=data.get('spatial_geoLevel', 'notspecified'), error=errors.spatial_geoLevel, classes=['control-medium']) }}

    {{ form.input('spatial_geoName', label=_('Nom de la zone géographique'), id='field-spatial_geoName', placeholder=_('Gouvernorat de Tunis'), value=data.spatial_geoName, error=errors.spatial_geoName, classes=['control-medium']) }}
    
    {{ form.select('spatial_locationType', label=_('Type de la couverture géographique'), options=h.locationTypes(), selected=data.get('spatial_locationType', 'notspecified'), error=errors.spatial_locationType, classes=['control-medium']) }}

    {{ form.textarea('spatial_locationValue', label=_('Valeur de la couverture géographique'), id='field-spatial_locationValue', placeholder=_('"POLYGON((3.053 47.975,7.24 47.975,7.24 53.504,3.053 53.504,3.053 47.975))"^^geosparql:wktLiteral'), value=data.spatial_locationValue, error=errors.spatial_locationValue, classes=['control-medium']) }}
    
    <hr>

    
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string_ar', id='field-tag_string_ar', label=_('Mots-clés (ar)'), placeholder=_('eg. إقتصاد، حكومة'), value=data.tag_string_ar, error=errors.tag_string_ar, classes=['control-full'], attrs=tag_attrs) }}
    {{ form.input('tag_string_fr', id='field-tag_string_fr', label=_('Mots-clés (fr)'), placeholder=_('eg. Economie, Gouvernement'), value=data.tag_string_fr, error=errors.tag_string_fr, classes=['control-full'], attrs=tag_attrs) }}


{% endblock %}
