{% ckan_extends %}


{% block package_basic_fields_custom %}

    {{ form.input('title_ar',
        label=_('Titre (Ar)'),
        id='field-title_ar',
        placeholder=_('Titre en langue arabe...'),
        value=data.title_ar,
        error=errors.title_ar,
        classes=['control-full control-large']) }}

    {{ form.markdown('notes_ar',
        label=_('Description (Ar)'),
        id='field-notes_ar',
        placeholder=_('Description en langue arabe...'),
        value=data.notes_ar,
        error=errors.notes_ar,
        classes=['control-full']) }}

    {{ form.input('theme', label=_('Thème'), id='field-theme', placeholder=_('Thème national'), value=data.theme, error=errors.theme, classes=['control-medium']) }}

    {{ form.select('frequency_update', label=_('fréquence de mise à jour'), options=h.frequencies(), selected=data.get('frequency_update', 'notspecified'), error=errors.frequency_update) }}



    <div class="control-group">
      {% set error = errors.frequency_update %}
      <label class="control-label" for="field-frequency_update">{{ _("Fréquence de mise à jour") }}</label>
      <div class="controls">
        <select id="field-frequency_update" name="frequency_update" data-module="autocomplete">
          {% for freq in h.frequencies()  %}
            <option value="{{ freq.value }}" {% if data.get('frequency_update', 'notspecified') == freq.value %}selected="selected"{% endif %}>{{ freq.text }}</option>
          {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        <span class="info-block info-inline">
          <i class="icon-info-sign"></i>
          {% trans %}
            The frequency at which a dataset is published or updated !
          {% endtrans %}
        </span>
      </div>
    </div>
    

    <div class="control-group">
      {% set error = errors.frequency_update %}
      <label class="control-label" for="field-frequency_update">{{ _("Frequency update") }}</label>
      <div class="controls">
        <select id="field-frequency_update" name="frequency_update_id" data-module="autocomplete">
          {% for freq in h.frequencies() %}
            <option value="{{ freq.id }}" {% if data.get('frequency_update_id', 'notspecified') == freq.id %}selected="selected"{% endif %}>{{ freq.name_fr }}</option>
          {% endfor %}
        </select>
        {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        <span class="info-block info-inline">
          <i class="icon-info-sign"></i>
          {% trans %}
            The frequency at which a dataset is published or updated !
          {% endtrans %}
        </span>
      </div>
    </div>

{% endblock %}
